* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.picture {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    font-size: 0; /* w celu usunięcia odstępów pomiędzy linkami */
    position: fixed; /*element pozostaje na swoim miejscu nawet podczas przewijania strony*/
    bottom: 50px;
    right: 50px;
    width: 600px;
    height: 100px;
    overflow-x: scroll; /*wymusza poziomy pasek przewijania*/
    white-space: nowrap; /*zapobiega łamaniu linii i wymusza wyświetlanie elementów w jednym rzędzie poziomym*/
}

.container a img {
    border: 2px solid limegreen;
    width: 200px;
    height: 100px;
    transition: transform 0.3s;
}

.container a img:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .container {
        bottom: 0;
        right: 0;
        width: 100%;
        box-shadow: 0 0 20px 20px limegreen;
    }
}