*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    position: relative;
    height: 100vh;
    background: #000;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 400px;
    height: 400px;
    gap: 20px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

}
h1 {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    color: gold;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
}

p {
    position: relative;
    font-size: 40px;
    display: flex;
    color: greenyellow;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: silver;
    font-weight: bold;
    font-size: 75px;
    cursor: pointer;
}
.btn:active {
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}

.btn:hover {
    background-color: goldenrod;
}

.X {
    background-color: darkblue;
    border: 2px solid aqua;
}

.O {
    background-color: darkred;
    border: 2px solid red;
}

.reset-button {
    position: absolute;
    margin: 20px;
    top: 80%;
    left: 48.5%;
    transform: translateX(-50%);
    padding: 10px 10px;
    font-size: 20px;
    background-color: gold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;

}

.reset-button:hover {
    background-color: goldenrod;
}